<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
   {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                     <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" class="img-fluid" title="AMOGUS">
                            </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>We develop </p>
                        <h1>Modern web applications in <span class="text_color">ExpressJS and ReactJS </span> ...</h1>
                        <a href="https://www.twtich.tv/laden"><button>About me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
{{>footer}}

</body>

</html>